#login {
  display: grid;
  place-items: center;
  min-height: 90vh;
  position: relative;
  background-color: #f8f8f8;
}
#login .login-area {
  background-color: #fff;
  padding: 2rem;
  width: 450px;
  position: relative;
}
#login .login-area h3 {
  margin: 1.3rem 0rem;
}
#login input,
.edit-panel input {
  width: 100%;
  margin: 0.4rem 0rem;
  padding: 0.5rem 1rem;
  font-family: poppins;
  font-size: 1rem;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#login button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: poppins;
  margin: 0.5rem 0rem;
}
.message {
  padding: 1rem;
  border-radius: 4px;
}
.message.success {
  color: #19993c;
  background-color: #cef8d5;
}
.message.error {
  background-color: #e25858dc;
  color: #f00;
}

.google-sign-in-btn {
  position: relative;
  text-align: center;
  margin: 0.5rem 0rem;
}
.google-sign-in-btn hr {
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 0.4rem 0rem;
}
.google-sign-in-btn > span {
  font-size: 1rem;
  text-transform: capitalize;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 0.4rem 0rem;
  display: block;
  color: #666;
}
.google-sign-in-btn button {
  border-radius: 5px;
  margin-top: 0.4rem;
}
.google-sign-in-btn button span {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
