#header {
  position: relative;
  padding: 1.4rem 0rem;
}
#header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
#header nav .logo a {
  color: var(--primary-color);
}
#header nav ul {
  display: flex;
  align-items: center;
  position: relative;
  gap: 2rem;
  font-family: "poppins", sans-serif;
}
#header nav ul a {
  font-size: 1rem;
  color: #333;
}
#header nav a.login-btn {
  padding: 0.4rem 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.login-btn:active {
  transform: translateX(5px);
}
