/* globals css */
:root {
  --primary-color: #7c9473;
  --secondary-color: #fff;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.container {
  max-width: min(100% - 2rem, 1300px);
  margin-inline: auto;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.colorize {
  color: var(--primary-color);
}
.cursor-pointer {
  cursor: pointer;
}
